<p class="product__text inline-richtext es-price-from" style="display:none;">From <strong>{{ product.price_min | money_with_currency }}</strong></p>
<p class="product__text inline-richtext es-price-from es-price-from--zero">From <strong>$0</strong></p>
