<div class="ui-contact">
  <div class="ui-contact-container">
    <div class="ui-contact-row-left">
      <h1 class="ui-contact-container-h1">{{ section.settings.ui_bottom_text }}</h1>
      {%- if section.settings.red_underline_state -%}
        <div class="ui-contact-redunderline"></div>
      {% endif %}
      <ul>
        {%- for block in section.blocks -%}
          {% if block.type == 'ui_bottom_contact_over1' and block.settings.ui_bottom_content_left != blank %}
            <li>{{ block.settings.ui_bottom_content_left }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="ui-contact-row-right">
      <ul>
        {%- for block in section.blocks -%}
          {% if block.type == 'ui_bottom_contact_over2' and block.settings.ui_bottom_content_right != blank %}
            <li>{{ block.settings.ui_bottom_content_right }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "ui bottom contact",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "ui_bottom_text",
      "label": "ui_bottom_text"
    },
    {
      "type": "checkbox",
      "id": "red_underline_state",
      "label": "red_underline_state",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "ui_bottom_contact_over1",
      "name": "ui_bottom_contact_over1",
      "settings": [
        {
          "type": "text",
          "id": "ui_bottom_content_left",
          "label": "ui_bottom_content_left"
        }
      ]
    },
    {
      "type": "ui_bottom_contact_over2",
      "name": "ui_bottom_contact_over2",
      "settings": [
        {
          "type": "text",
          "id": "ui_bottom_content_right",
          "label": "ui_bottom_content_right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ui bottom contact",
      "settings": {}
    }
  ]
}
{% endschema %}
