<div class="ui-contact-bottom-container">
  <div class="ui-contact-bottom-left">
    {%- for block in section.blocks -%}
      {% if block.settings.ui_bottom_left_header != blank %}
        <h1>{{ block.settings.ui_bottom_left_header }}</h1>
      {% endif %}
      {% if block.settings.ui_bottom_left_state == true %}
        <div class="ui-both-red-underline"></div>
      {% endif %}
      {% if block.settings.ui_bottom_left_body != blank %}
        <div class="ui-bottom-left-body">
          {{ block.settings.ui_bottom_left_body }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="ui-contact-bottom-right">
    {%- for block in section.blocks -%}
      {% if block.settings.ui_bottom_right_header != blank %}
        <h1>{{ block.settings.ui_bottom_right_header }}</h1>
      {% endif %}
      {% if block.settings.ui_bottom_right_state == true %}
        <div class="ui-both-red-underline"></div>
      {% endif %}
      {% if block.settings.ui_bottom_right_body != blank %}
        <div class="ui-bottom-right-body">
          {{ block.settings.ui_bottom_right_body }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "ui contact us bottom",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "ui-contact-bottom_left",
      "name": "ui_contact_bottom_left",
      "settings": [
        {
          "type": "text",
          "id": "ui_bottom_left_header",
          "label": "ui_bottom_left_header"
        },
        {
          "type": "checkbox",
          "id": "ui_bottom_left_state",
          "label": "ui_bottom_left_state"
        },
        {
          "type": "richtext",
          "id": "ui_bottom_left_body",
          "label": "ui_bottom_left_body"
        },
      ]
    },
    {
      "type": "ui-contact-bottom_right",
      "name": "ui_contact_bottom_right",
      "settings": [
        {
          "type": "text",
          "id": "ui_bottom_right_header",
          "label": "ui_bottom_right_header"
        },
        {
          "type": "checkbox",
          "id": "ui_bottom_right_state",
          "label": "ui_bottom_right_state"
        },
        {
          "type": "richtext",
          "id": "ui_bottom_right_body",
          "label": "ui_bottom_right_body"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ui contact us bottom"
    }
  ]
}
{% endschema %}
