.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

@media (max-width: 768px) {
  .cart__items {
    position: relative;
    padding-bottom: 0;
    border-bottom: 0;
  } 
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 0;
}

.cart__footer .discounts {
  margin-bottom: 1rem;
}

.cart__note {
  height: fit-content;
  /* top: 2.5rem; */
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 36rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
  color: white;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 16.90px;
  letter-spacing: 2px;
  padding: 12px 25px;
  background-color: #990000;
  border-radius: 3px;
}

.cart__ctas > * + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__dynamic-checkout-buttons:has(.dynamic-checkout__content:empty) {
  margin: 0;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 0.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
  color: black;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 400;
  line-height: 19.50px;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 1.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end; 
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}

.cart__footer .cart__checkout-button:not([disabled]):hover:after{
  box-shadow: unset !important;
}

.cart__contents .cart-edit-button{
  margin-left: 11px;
}

.cart__footer .cart_footer_wahat_happens_button_text {
  padding: 30px 15px;
}

.cart__footer .cart_footer_wahat_happens_button_text button{
  color: black;
  font-size: 13px;
  font-family: Inter;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 16.90px;
  letter-spacing: 2px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
  text-decoration: unset !important;
}

.cart__contents .cart-item__details{
  padding-bottom: 16px !important;
}

@media( max-width: 768px ){
  .cart__contents .cart-edit-button{
    margin-left: 1.5rem;
  }

  .cart__contents .cart-item__details{
    padding-bottom: 14px  !important;
  }

  .cart__contents cart-items .title-wrapper-with-link{
    align-items: center;
  }

  .page-width > .title-wrapper-with-link {
    align-items: center;
  }

  .page-width > .title-wrapper-with-link .es-button {
    padding: 0;
  } 

  .cart__contents .title-wrapper-with-link .es-button{
    padding: 0;
  }

  .cart__footer .totals{
    justify-content: space-between;
  }

  .cart__footer .tax-note{
    text-align: left;
    font-size: 12.5px;
  }

  .cart__footer .cart_footer_wahat_happens_button_text button{
    justify-content: center;
    margin: 0 auto;
  }
}
/* 
.cart__contents .cart-item{
  border-bottom: 1px solid #CCC;
} */

#main-cart-items .cart-item:last-child{
  border-bottom: 0px solid #CCC;
}

#main-cart-items .cart-item {
  border-bottom: 1px solid #CCC;
}

.cart__contents .cart-item__details dl{
  display: flex;
  flex-direction: column;
}

.cart__contents .product-option[data-option-name="SKU"] {
  order: -2;
}

.cart__contents .product-option[data-option-name="Color"] {
  order: -4;
}

.cart__contents .product-option[data-option-name="Size"] {
  order: -3;
}

.cart__contents .product-option[data-option-name="Brand"]:nth-child(n+5) {
  border-bottom: 1px solid #CCC;
  padding-bottom: 12px;
  margin-bottom: 12px;
  order: -1;
}

.cart__contents .product-option[data-option-name="Brand"]:nth-child(n+8) {
  border-bottom: 1px solid #CCC;
  padding-bottom: 12px;
  margin-bottom: 12px;
  order: -1;
}

.cart__footer .cart__note label{
  font-size: 13px;
  font-family: Inter;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 16.90px;
  letter-spacing: 2px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart_footer_wahat_happens_button_text p{
  margin: 0;
}

#Details-Cartfooter{
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  padding-top: 20px;
  padding-bottom: 20px;
}

#Details-Cartfooter .summary__title{
  font-size: 13px;
  font-family: Inter;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 16.90px;
  letter-spacing: 2px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  gap: 10px;
}

#Details-Cartfooter[open] summary{
  padding-bottom: 13px;
}

#Details-Cartfooter .summary__title .caret-icon{
  transition: transform 0.3s ease;
}

#Details-Cartfooter[open] .summary__title .caret-icon{
  transform: rotate(180deg);
}

.cart__blocks .js-contents{
  margin-top: 30px
}

@media( max-width : 768px ){
  #Details-Cartfooter .summary__title{
    justify-content: center;
  }
}


.product-popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgba(var(--color-foreground), 0.2);
  height: 100%;
}

.product-popup-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}

.product-popup-modal__content {
  border-radius: var(--popup-corner-radius);
  background-color: rgb(var(--color-background));
  overflow: auto;
  height: 80%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  width: 92%;
  position: absolute;
  top: 0;
  padding: 0 1.5rem 0 3rem;
  border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
  border-style: solid;
  border-width: var(--popup-border-width);
  box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
    rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.product-popup-modal__content.focused {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
      rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

.product-popup-modal__content:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
      rgba(var(--color-shadow), var(--popup-shadow-opacity));
}

@media screen and (min-width: 750px) {
  .product-popup-modal__content {
    padding-right: 1.5rem;
    margin-top: 10rem;
    width: 70%;
    padding: 0 3rem;
  }

  .product-media-modal__dialog .global-media-settings--no-shadow {
    overflow: visible !important;
  }
}

.product-popup-modal__content img {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  /* .product-popup-modal__content table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
  } */

  .product-media-modal__dialog .global-media-settings,
  .product-media-modal__dialog .global-media-settings video,
  .product-media-modal__dialog .global-media-settings model-viewer,
  .product-media-modal__dialog .global-media-settings iframe,
  .product-media-modal__dialog .global-media-settings img {
    border: none;
    border-radius: 0;
  }
}

.product-popup-modal__opener {
  display: inline-block;
}

.product-popup-modal__button {
  font-size: 1.6rem;
  padding-right: 1.3rem;
  padding-left: 0;
  min-height: 4.4rem;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
}

.product-popup-modal__button:hover {
  text-decoration-thickness: 0.2rem;
}

.product-popup-modal__content-info {
  padding-right: 1rem;
}

.product-popup-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .product-popup-modal__content-info > * {
    max-height: 100%;
  }
}

.product-popup-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  padding: 1.2rem;
  z-index: 2;
  top: 1.5rem;
  width: 4rem;
  margin: 0 0 0 auto;
}

.product-popup-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.product-popup-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

.product__media-list .media > * {
  overflow: hidden;
}

.thumbnail-list {
  flex-wrap: wrap;
  grid-gap: 1rem;
}